@import "../../scss/variables";

.hero {
  position: relative;
  z-index: 1;

  @media (min-width: $screenMd) {
    display: flex;
  }

  @media (min-width: $screenMd) and (max-width: $screenLgMax) {
    padding-top: $gutterWidthSm;
  }

  @media (min-width: $screenLg) {
    max-height: 54.4rem;
  }
}
