@import "../../scss/variables";

.hero {
  position: relative;
  z-index: 1;
  display: flex;

  @media (max-width: $screenSmMax) {
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $screenMd) {
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    height: 44rem;
  }

  @media (min-width: $screenLg) {
    min-height: auto;
    height: 50rem;
  }

  @media (min-width: $screenXlg) {
    min-height: auto;
    height: 54rem;
  }
}

.isPrimaryHero {
  @media (max-width: $screenSmMax) {
    min-height: calc(100vh - $mobileNavigationHeight);
  }
}

.isTextTopSm {
  @media (max-width: $screenSmMax) {
    flex-direction: column-reverse;
  }
}
