@import "../../../scss/variables";

.heroTitleContainer {
  position: relative;
  margin: 0;
}

.heroTitle {
  margin: 0;
  left: -0.5rem;
  line-height: 9.24rem;
}

.heroDot {
  color: #fff;

  @media (max-width: $screenSmMax) {
    color: black;
  }
}

.hasGutterSm {
  @media (max-width: $screenSmMax) {
    padding-left: $gutterMarginXs;
    padding-right: $gutterMarginXs;
  }
}

.isOverImage {
  @media (min-width: $screenMd) {
    position: absolute;
    top: 0;
    left: $gutterWidthSm;
  }
}

.isJustText {
  @media (max-width: $screenSmMax) {
    //min-height: 20.1rem;
    background-color: #fff;
    padding: $gutterMargin $gutterMarginXs;
    margin-bottom: $gutterWidthSm;
  }

  @media (min-width: $screenMd) {
    margin-bottom: $gutterWidthSm;
  }

  @media (min-width: $screenLg) {
    margin-bottom: $gutterWidth;
  }
}

.isSmallTitle {
  @media (max-width: $screenMdMax) {
    font-size: 8rem;
  }

  @media (max-width: $screenSmMax) {
    font-size: 5.8rem;
  }
}
