@import "../../../scss/variables";

.heroTitle {
  margin-top: 0rem;
  font-size: $heroTitleSize;

  @media (min-width: $screenMd) {
    line-height: 1;
  }

  @media (max-width: $screenSmMax) {
    margin-bottom: $gutterMarginXs;
    margin-right: -$gutterMarginXs;
    margin-left: -$gutterMarginXs;
    padding: 0 $gutterMarginXs;
    background-color: white;
  }
}

.heroDot {
  color: #fff;

  @media (max-width: $screenSmMax) {
    color: black;
  }
}
