@import "../../../scss/variables";

.heroTitle {
  margin-top: 0rem;
  font-size: $heroTitleSize;

  @media (min-width: $screenMd) {
    line-height: 1;
  }

  @media (max-width: $screenSmMax) {
    margin-bottom: $gutterMarginXs;
  }
}

.heroDot {
  color: #fff;
}
