@import "../../../scss/variables";
.row {
  display: flex;
  justify-content: space-between;
}

.wrapMobile {
  @media (max-width: $screenMdMax) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.extra-small {
  margin-left: -$gridMarginExtraSmall;
  margin-right: -$gridMarginExtraSmall;
}

.small {
  margin-left: -$gridMarginSmall;
  margin-right: -$gridMarginSmall;
}

.medium {
  margin-left: -$gridMarginMedium;
  margin-right: -$gridMarginMedium;
}

.large {
  margin-left: -$gridMarginLarge;
  margin-right: -$gridMarginLarge;
}

.extra-large {
  margin-left: -$gridMarginExtraLarge;
  margin-right: -$gridMarginExtraLarge;
}
