@import "../../scss/variables";

.footerSmall {
  justify-content: center;
  align-items: flex-start;
  margin-top: $gridMarginSmall;

  @media (max-width: $screenSmMax) {
    margin-top: $gutterWidthXs;
    padding: $gutterWidthXs 0;
    background-color: #fff;
  }
}

.katieUx {
  margin-top: 0.2rem;
}
