@import "../../scss/variables";

.footerSmall {
  justify-content: center;
  align-items: center;
  margin-top: $gridMarginSmall;

  @media (max-width: $screenSmMax) {
    margin-top: $gutterWidthXs;
    margin-left: -$gutterMarginXs;
    margin-right: -$gutterMarginXs;
    padding: $gutterWidthXs  $gutterMarginXs (7.5rem + $gutterMarginXs) $gutterMarginXs;
    background-color: #fff;
  }
}

.noPaddingSm {
  @media (max-width: $screenSmMax) {
    padding-left: 0 !important;
    padding-right: 0 !important
  }
}

.katieUx {
  min-width: 100%;

  @media (min-width: $screenMd) {
    min-width: 40rem;
  }

  @media (max-width: $screenSmMax) {
    margin-bottom: 0;
    margin-top: $gutterMarginXs;
  }
}

.contact {
  @media (max-width: $screenMdMax) {
    flex-wrap: wrap;
  }
}
