@import "../../scss/variables";

.themeSwitch {
  position: absolute;
  top: 0;
  z-index: 10;

  @media (max-width: $screenSmMax) {
    display: none;
  }

  @media (max-width: $screenLgMax) {
    left: $gutterWidthSm;
  }
}

.button {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  top: -0.4rem;
  margin-right: 0.4rem;
  transition: top 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    top:0;
  }
}

.isActive {
  top:0;
}
