@import "../../scss/variables";
@import "../../scss/reset";

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/Roboto_Mono/robotomono-bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Roboto_Mono/robotomono-medium.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Roboto_Mono/robotomono-regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/fonts/Source_Sans_Pro/SourceSansPro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.woff) format('woff');
}

:root {
  font-size: 62.5%;

  body {
    margin: 0;
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.8;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.6rem;
  margin-top: 0;
}

ul {
  @media (max-width: $screenSmMax) {
    padding-left: 1.78rem;
  }
}

li {
  line-height: 1.8;
  margin-bottom: 0.4rem;
}
