//@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

@import "../../scss/variables";
@import "../../scss/reset";

:root {
  font-size: 62.5%;

  body {
    margin: 0;
    font-size: 1.6rem;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.8;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.6rem;
  margin-top: 0;
}

ul {
  @media (max-width: $screenSmMax) {
    padding-left: 1.78rem;
  }
}

li {
  line-height: 1.8;
  margin-bottom: 0.4rem;
}
