@import "../../scss/variables";

.title {
  letter-spacing: $letterSpacing;
  font-family: $sansSerif;
  font-weight: bold;
  text-transform: uppercase;
}

.h1 {
  font-size: 8rem;
}

.h2 {
  font-size: 2.6rem;
}
