@import "../../scss/variables";

.content {
  padding: $gutterMarginXs;
  transition: background-color ease-in-out $themeAnimationSpeed;
  position: relative;
  overflow: hidden;

  @media (min-width: $screenMd) {
    margin-top: -$gutterWidth;
    padding: ($gutterWidth + $gutterMargin) $gutterWidth $gutterWidth $navigationColumnWidth;
    border-radius: 0 0 $contentBorderRadius 0;
  }
}

.noMargin {
  margin-top: 0;

  @media (min-width: $screenMd) {
    padding-top: $gutterWidth;
  }
}

.contentHole {
  display: none;

  @media (min-width: $screenMd) {
    display: block;
    position: absolute;
    bottom: 10rem;
    left: 10rem;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
  }
}

.animateHole {
  position: absolute;
  top: 100%;
  transition: top 700ms ease-in-out;
}

.isActive {
  top: 0;
  transition: linear 5000ms top;
}

.tea-green { background-color: $tea-green; }
.laurel-green { background-color: $laurel-green }
.cambridge-blue { background-color: $cambridge-blue }
.taupe-gray { background-color: $taupe-gray }
.old-lavender { background-color: $old-lavender }
