@import "../../../scss/variables";

.grid {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-left: $gutterMarginXs;
  padding-right: $gutterMarginXs;

  @media (min-width: $screenMd) {
    padding-left: $navigationColumnWidthSm;
    padding-right: $gutterWidthSm;
  }

  @media (min-width: $screenXlg) {
    padding-left: $navigationColumnWidth;
    padding-right: $gutterWidth;
  }
}

.isFullWidthSm {
  @media (max-width: $screenSmMax) {
    padding-left: 0;
    padding-right: 0;
  }
}

.noPaddingRight {
  padding-right: 0;
}
