.logoCol {
  flex: 0;
}

.company {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.start {
  margin-top: 0;
  font-size: 1.2rem;
}

.description {
  margin-top: 0.4rem;
}
