@import "../../scss/variables";

.navigation {
  width: $navigationWidth;
  display: flex;
  flex-direction: column;
  margin: $gutterWidth 0 0 $gutterWidth;
  position: fixed;
}

.link {
  display: block;
  margin: 2rem 3rem;
  font-size: 1.8rem;
  color: black;
  transition: all ease-in-out 200ms;

  &:hover {
    transform: skew(-8deg);
  }
}
