@import "../../../scss/variables";

.heroImage {
  @media (min-width: $screenMd) {
    width: 55%;
    max-width: 48rem;
    border-radius: 3rem 10rem 3rem 3rem;
    margin-left: auto;
    max-height: 100%;
    overflow: hidden;
  }
}

.heroTitle {
  font-size: 2.2rem;
  padding: 0 $gutterMarginXs;
  margin-top: 0;

  @media (min-width: $screenMd) {
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11rem;
  }
}

.heroHello {
  font-weight: bold;
  font-size: $heroTitleSize;
  line-height: 0.8;
}

.heroDot {
  cursor: pointer;
}

.heroName {
  font-size: 8rem;
  display: block;
}

.heroSubText {
  font-weight: 400;
}

.animate {
  transition: color ease-in-out $themeAnimationSpeed;
}

.tea-green { color: $tea-green; }
.laurel-green { color: $laurel-green }
.cambridge-blue { color: $cambridge-blue }
.taupe-gray { color: $taupe-gray }
.old-lavender { color: $old-lavender }
