@import "../../scss/variables";

.backButton {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: $letterSpacing;
  cursor: pointer;
  margin: $gridMarginSmall 0;
}

.titleClass {
  line-height: 1;

  @media (min-width: $screenMd) {
    font-size: 3.8rem;
  }
}
