@import "../../scss/variables";

.contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //margin-bottom: $gridMarginSmall;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-right: 1.2em;
  font-family: $sansSerif;
  font-size: 1.4rem;
  margin-top: 0.1rem;

  &:last-child {
    margin-right: 0;
  }
}

.contactIcon {
  margin-right: 0.6rem;
  top: 0.3rem;
  font-size: 2rem;
  position: relative;
}

.contactLink {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;

  @media (max-width: $screenMdMax) {
    line-height: 4rem;
  }

  &:hover {
    text-decoration: none;
  }
}

.contactSmall {
  margin-right: 1rem;
}

.iconCentered {
  text-align: center;

  @media (min-width: $screenMd) {
    text-align: left;
  }
}
