@import "../../scss/variables";

.footerRow {
  margin-top: $gridMarginSmall;
}

.content {
  border-top: $contentborder;
}

.colXs {
  @media (max-width: $screenSmMax) {
    margin-top: $gridMarginSmall;
  }
}

.rowMdXs {
  @media (min-width: $screenMd) and (max-width: $screenLgMax) {
    margin-left: -$gutterMarginSm;
    margin-right: -$gutterMarginSm;
  }
}

.colMdXs {
  @media (min-width: $screenMd) and (max-width: $screenLgMax) {
    padding-left: $gutterMarginSm;
    padding-right: $gutterMarginSm;
  }
}
