@import "../../scss/variables";

.footerRow {
  margin-top: $gridMarginSmall;
}

.content {
  border-top: $contentborder;
}

.colXs {
  @media (max-width: $screenSmMax) {
    margin-top: $gridMarginSmall;
  }
}
