@import "../../scss/variables";

.contentListItem {
  display: flex;
  margin-bottom: $gutterMargin;
  align-items: center;

  @media (max-width: $screenMdMax) {
    flex-direction: column;
  }

  img {
    width: 100%;
  }
}

.contentListContent {
  padding: $gutterMargin;
}

.contentListImage {
  min-width: 55%;
  position: relative;
}

.isHeroItem {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  [data-background] {
    display: none;
  }

  & > div {
    width: 100%;
  }
}

.contentListImageRight {
  @media (min-width: $screenSm) {
    order: 2;
  }
}

.contentListTitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contentListSubTitle {
  margin-top: 0;
}
