// Palette: https://coolors.co/d1f0b1-b6cb9e-92b4a7-8c8a93-81667a

/* SCSS HEX */
$tea-green: #d1f0b1ff;
$laurel-green: #b6cb9eff;
$cambridge-blue: #92b4a7ff;
$taupe-gray: #8c8a93ff;
$old-lavender: #81667aff;

/* SCSS HSL */
$tea-green: hsla(90, 68%, 82%, 1);
$laurel-green: hsla(88, 30%, 71%, 1);
$cambridge-blue: hsla(157, 18%, 64%, 1);
$taupe-gray: hsla(253, 4%, 56%, 1);
$old-lavender: hsla(316, 12%, 45%, 1);

/* SCSS RGB */
//$tea-green: rgb(0, 0, 0);
$laurel-green: rgba(182, 203, 158, 1);
$cambridge-blue: rgba(146, 180, 167, 1);
$taupe-gray: rgba(140, 138, 147, 1);
$old-lavender: rgba(129, 102, 122, 1);

$greyLight: #000;

$screenXlg: 1201px;
$screenLgMax: $screenXlg - 1;
$screenLg: 1024px;
$screenMdMax: $screenLg - 1;
$screenMd: 769px;
$screenSmMax: $screenMd - 1;
$screenSm: 481px;
$screenXs: $screenSm - 1;
$screenXs: 320px;

$gutterWidth: 10rem;
$gutterMargin: calc($gutterWidth / 2);

$gutterWidthXs: 5rem;
$gutterMarginXs: calc($gutterWidthXs / 2);

$gutterWidthSm: 2.5rem;
$gutterMarginSm: calc($gutterWidthSm / 2);

$gridMarginMedium: $gutterWidth;
$gridMarginLarge: calc($gridMarginMedium * 2);
$gridMarginExtraLarge: calc($gridMarginLarge * 2);
$gridMarginSmall: $gutterWidthSm;
$gridMarginExtraSmall: 0.6rem;

$navigationWidth: 20rem;
$navigationWidthSm: 18rem;
$navigationColumnWidth: $navigationWidth + $gutterWidth + $gutterMargin;
$navigationColumnWidthSm: $navigationWidthSm + $gutterWidthSm + $gutterMarginSm;

$themeAnimationSpeed: 200ms;
$trayAnimationSpeed: 250ms;

$sansSerif: 'Source Sans Pro', sans-serif;

$borderRadiusImage: 3rem;
$contentBorderRadius: 15rem;

$heroTitleSize: 10rem;

$contentborder: 1px dotted #000;

$navigationZindex: 9999;
$trayUnderlayZindex: $navigationZindex - 1;
$mobileMenuButton: $navigationZindex + 1;

$mobileNavigationBackground: #fff;
$mobileNavigationHeight: 7.1rem;

$avatarWidth: 6.6rem;
$avatarWidthXs: 4.6rem;
