// Palette: https://coolors.co/d1f0b1-b6cb9e-92b4a7-8c8a93-81667a

/* SCSS HEX */
$theme-1: #d1f0b1ff;
$theme-2: #b6cb9eff;
$theme-3: #92b4a7ff;
$theme-4: #E0E1E0;
$old-lavender: #9F87AF;

$greyLight: #000;

$screenXlg: 1201px;
$screenLgMax: $screenXlg - 1;
$screenLg: 1024px;
$screenMdMax: $screenLg - 1;
$screenMd: 769px;
$screenSmMax: $screenMd - 1;
$screenSm: 481px;
$screenXs: $screenSm - 1;
$screenXs: 320px;

$gutterWidth: 10rem;
$gutterMargin: calc($gutterWidth / 2);

$gutterWidthXs: 5rem;
$gutterMarginXs: calc($gutterWidthXs / 2);

$gutterWidthSm: 2.5rem;
$gutterMarginSm: calc($gutterWidthSm / 2);

$gridMarginMedium: $gutterWidth;
$gridMarginLarge: calc($gridMarginMedium * 2);
$gridMarginExtraLarge: calc($gridMarginLarge * 2);
$gridMarginSmall: $gutterWidthSm;
$gridMarginExtraSmall: 0.6rem;

$navigationWidth: 20rem;
$navigationWidthSm: 18rem;
$navigationColumnWidth: $navigationWidth + $gutterWidth + $gutterMargin;
$navigationColumnWidthSm: $navigationWidthSm + $gutterWidthSm + $gutterMarginSm;

$themeAnimationSpeed: 200ms;
$trayAnimationSpeed: 250ms;

$sansSerif: 'Source Sans Pro', sans-serif;

$borderRadiusImage: 3rem;
$contentBorderRadius: 15rem;

$heroTitleSize: 10rem;

$contentborder: 1px dotted #000;

$navigationZindex: 9999;
$trayUnderlayZindex: $navigationZindex - 1;
$mobileMenuButton: $navigationZindex + 1;

$mobileNavigationBackground: #fff;
$mobileNavigationHeight: 7.1rem;

$avatarWidth: 6.6rem;
$avatarWidthXs: 4.6rem;
