@import "../../../scss/variables";

$borderRadius: 10rem;

.heroImage {
  @media (min-width: $screenMd) {
    border-radius: 3rem $borderRadius 3rem 3rem;
    max-height: 100%;
    overflow: hidden;
    position: relative;
  }
}

.heroText {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 $gutterMarginXs;

  @media (min-width: $screenMd) {
    color: #fff;
    position: absolute;
    top: 6rem;
    left: 8rem;
    z-index: 1;
    padding: 0;
  }
}

.heroTitle {
  margin: 0;
  font-size: $heroTitleSize;
}
